body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.container {
  padding-top: 10px;
  margin: 0 auto auto auto;
  background-color: powderblue;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

.cloudOne {
  position: absolute;

}

.cloudTwo {
  position: absolute;
  left: 500px;
  top: 200px;
}

.sun {
  position: absolute;
  top: 0px;
  right: 300px;
}

.mont {
  position: relative;
  bottom: 0;
}
